<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fetch Rewards Points Take-Home Project</title>
    </head>
    <body>
        <div style="display:flex; flex-direction:column; align-items:center;">
            <h2>Welcome to the Fetch Rewards Points Take-Home Project!</h2>
            <section style="margin-bottom:1rem">Authored by Kurt Bartholomew</section>
            <section style="margin-bottom:1rem">Swagger / OpenAPI documentation <a href="/swagger-ui/">FOUND HERE</a></section>
            <section>The associated github repository is <a href="https://github.com/kurtbartholomew/points-project">FOUND HERE</a></section>
            <div style="margin-bottom:2rem"></div>
            <section style="margin-bottom:1rem; font-style:italic">Enjoy a comic to spice up this boring page!</section>
            <img src="https://imgs.xkcd.com/comics/dependency.png" alt="A funny comic">
        </div>
    </body>
</html>